.pokemons {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
}

.pokemon {
    margin: .5rem;
    padding: .8rem .8rem;
    background-color: #16caa8;
    color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.pokemon .name {
    color: white;
    margin-bottom: 0.25rem;
}

.pokemon .number {
    color: black;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}   

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.type {
    background-color: #52e7ce;
    color: white;
    padding: .25rem .5rem;
    font-size: .625rem;
    margin: .25rem 0;
    border-radius: 1rem;
}

.pokemon .img {
    max-width: 100%;
    height: 70px;

}



@media screen and (min-width: 300px){
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (min-width: 576px){
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}