.pokemons {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
}

.normal {
    background-color: #a9a878;
}

.fire {
    background-color: #f07f2f;
}

.water {
    background-color: #698ff2;
}

.grass {
    background-color: #77c850;
}

.electric {
    background-color: #f6d22f;
}

.poison {
    background-color: #a040a1;
}

.ice {
    background-color: #98d8d8;
}

.fighting {
    background-color: #bf3027;
}

.ground {
    background-color: #e0c069;
}

.flying {
    background-color: #a890f0;
}

.rock {
    background-color: #b7a038;
}

.dark {
    background-color: #6f5848;
}

.psychic {
    background-color: #f85888;
}

.ghost {
    background-color: #705798;
}

.steel {
    background-color: #b8b8d0;
}

.bug {
    background-color: #a8b821;
}

.dragon {
    background-color: #6f3af5;
}

.fairy {
    background-color: #ffa3b0;
}


.pokemon {
    margin: .5rem;
    padding: .8rem .8rem;
    color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

.pokemon .name {
    color: white;
    margin-bottom: 0.25rem;
    text-transform: capitalize ;
    font-weight: 600;
    text-shadow: #000 1px 1px 1px;
}

.pokemon .number {
    color: black;
    opacity: .6;
    text-align: right;
    font-size: .625rem;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.type {
    filter: brightness(1.1);
    color: #ffffff;
    padding: .25rem .5rem;
    font-size: .675rem;
    margin: .25rem 0;
    border-radius: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.pokemon .img {
    max-width: 100%;
    height: 70px;

}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin: .25rem 0;
}

.pagination button {
    background-color: #6c79db;
    border-radius: 1rem;
    color: #ffffff;
    padding: .25rem .5rem;
    font-size: .675rem;
    margin: .25rem 0;
    border: none;
}



@media screen and (min-width: 300px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
    .pokemon .img {
    max-width: 60%;
    height: 70px;

}

}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}