* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    background-image: url('https://i.pinimg.com/736x/44/b7/75/44b775e37200bb2f1709336a4324c246.jpg');
    background-size: cover;
    min-height: 100vh;
    background-position: top;
    position: relative;
    
}

.cabeçalho {
    display: flex;
    background-color: rgba(255, 255, 255, 0.301);
    align-items: center;
    
}

.menu {
    
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    height: 100px;
    
    
    
}


.img {
    width: 300px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

a {
    text-decoration: none;
    font-size: 16pt;
    color: rgb(0, 0, 0);

}

.buscar {
    display: flex;
    align-items: center;
    width: 300px;
    height: 100px;
}

.search {
    width: 100vw;
    height: 30px;
    border-radius: 10px;
    border: solid 1px;
    border-color:rgba(77, 77, 77, 0.6) ;
    padding-left: 10px;
    background-color: rgba(119, 119, 119, 0.349);
    outline: none;

}

  .search::placeholder {
    color: rgba(77, 77, 77, 0.6);
  }



.main {
    width: 100%;
    height: 700px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding-left: 80px;
    padding-right: 80px;
}

h3 {
    font-size: 30px;
}

.conteudo {
    border: solid 1px rgba(255, 255, 255, 0.356); 
    background-color:rgba(255, 255, 255, 0.178);
    padding: 10px

}

h2 {
    margin-top: 40px;
    font-size: 40pt;
    margin-bottom: 30px;
    text-align: center;
}

.bloco-tabela {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    margin-bottom: 20px;
    align-items: center;
}

 th, td {
    text-align: center;
    border: solid 2px rgba(255, 255, 255, 0.623);
    height: 50px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.233);
    
}
.tabela {
    border: solid 2px rgba(255, 255, 255, 0.623);
    background-color: rgba(255, 255, 255, 0.233);
}

.horario {
    font-size: 30px;
}

.cabeçalho-tabela {
    font-size: 20px;
}
td {
    font-size: 20px;
}

.box-contatos {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    border: solid 2px rgba(255, 255, 255, 0.623);
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 300px;
    height: 200px;
    background-color:rgba(255, 255, 255, 0.233) ;
}
.contatos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}

.texto {
    font-size: 18px;
    margin-top: 10px;
}
